<% layout('layout2') %>
<div id="wrapper">

    <% include ../partials/sidebar %>


        <div id="page-content-wrapper">
            <% include ../partials/navbar %>
                <div class="container-fluid main_body">
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>

                    <div class="ul_links">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li><a href="/companies">All Companies</a></li>

                        </ul>

                    </div>
                    <br>
                    <div class="bodyDiv">
                                <h4>Companies</h4>
                                <% for(var i = 0; i < data.length; i++){%>
                                <div class="col-xs-12 col-md-6 col-lg-4 companyListDiv">
                                  <a href="/company-profile/<%= data[i]._id %>">
                                    <img src="/images/<%= data[i].image %>" class="companyListItemLogo">

                                    <div class="companyListItemInfo">
                                      <h5 class=""><%= data[i].name %></h5>
                                      <span class="">
                                      <i class="star"></i>
                                      *****
                                    </span><br>
                                    <i class="fa fa-building-o "> <%= data[i].sector %></i><br>
                                    <i class="fa fa-map-marker"> <%= data[i].city %>, <%= data[i].country %></i>
                                  </div>

                                  </a>

                                </div>
                                <% } %>
                              </div>
                            </div>
                          </div>
